<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./partials/bootstrap.css" />
  </head>
  <body>
    <div id="myDIV" class="header">
      <h2>My To Do List</h2>
      <ul>
        <li><input type="radio" /></li>
        <li><input type="radio" /></li>
        <li><input type="radio" /></li>
      </ul>
      <form action="/submit" method="POST">
        <input type="text" id="myInput" placeholder="Title..." />
      </form>
    </div>
  </body>
</html>
